.each-comment {
  padding-top: 15px;
  padding-bottom: 15px;
  /* border: 1px solid red; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-list {
  height: 145px;
  overflow-y: auto;
  max-width: 100%;
}

.comment-user-pfp {
  /* aspect-ratio: 1/1; */
  /* margin-bottom: 10px; */
  border-radius: 50%;
  width: 8%;
  height: 10%;
  object-fit: cover;
}

.user-and-comment {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
}

.user-and-comment p {
  margin-top: 0.25em;
  margin-bottom: 0;
}

.comment-user-fN {
  font-weight: bold;
  margin-left: 2px;
}

.comment-user-info {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
