/* .delete-dot-cont {
  border: 1px solid lightgray;
  border-radius: 15px;
} */

.delete-dropdown {
  border: 1px solid lightgray;
  border-radius: 15px;
  position: absolute;
}

.delete-dropdown li {
  list-style-type: none;
}

.delete-dots {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 7px;
}
