.indv-pin-cont {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.indv-img {
  height: 100%;
  width: 98%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.indv-left-side {
  height: 100%;
  padding-right: 10px;
}

.indv-pin-info {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.indv-user-info {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.indv-profile-pic {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}

.indv-more-to-explore {
  width: 100%;
  text-align: center;
  padding-top: 1em;
}

.indv-user-fn {
  font-weight: semi-bold;
  font-size: 22px;
}
