.comment-pic-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid red;
}

.create-cont {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 50px;
  margin-top: 30px;
  padding: 10px;
  width: 90%;
}

.comment-input {
  border: 0px;
  width: 100%;
  font-size: 20px;
}
.comment-input:focus {
  outline: none;
}

.comment-submit-bttn {
  border: 0px;
  background-color: #384d48;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.comment-arrow {
  font-size: 2em;
  color: white;
}

.comment-user-pic {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  object-fit: cover;
}
