.pin-form {
  display: grid;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
  margin-top: 6em;
}

.form-submit-bttn {
  justify-self: center;
  align-self: center;
  border: 0px;
  background-color: #384d48;
  color: white;
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
}

.form-submit-bttn[disabled] {
  cursor: not-allowed;
}

.pin-form input,
.pin-form textarea {
  width: 100%;
}

.form-errors {
  color: red;
  font-size: 12px;
}

.log-in-first {
  padding-top: 6em;
}
