.nav-user-pic {
  width: 46px;
  height: 46px;
  /* height: 15%;
  width: 15%; */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.nav-user-pic:hover {
  cursor: pointer;
}

.nav-user-container {
  height: 49px;
  margin-right: 40px;
  padding: 0;
  /* border: 1px solid red; */
}
